<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says...</h1>
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{% static 'images/rango.jpg' %}"
                alt="Picture of Rango" 
                style="max-width:450px; max-height:450px;" />
                <!-- Limiting size as the image is too big otherwise -->
        </div>
    </body>
</html>